div.form-input label {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.form-input {
  display: grid;
  width: 300px;
  padding: 5px 10px 5px 10px;
}

input {
  height: 26px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}


div.inline-input {
  display: inline;
}

div.inline-input label {
  font-size: 20px;
  font-weight: bold;
}

div.inline-input * {
  margin-left: 20px;
}

div.inline-input *:first-child {
  margin-left: 0px;
}


button.submit {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  background: lightgreen;
  border: none;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
