button.submit-button {
    padding: 5px 10px 5px 10px;
    /* background-color: green;
    color: white; */
    font-size: 14px;
    /* border: 1px solid white; */
    border-radius: 5px;
}

button.submit-button:hover {
    /* background-color: hsl(120, 100%, 30%); */
    background-color: lightgrey;
    border-color: lightgrey;
    transition-duration: 0.3s;
    cursor: pointer;    
}