.lobby-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    height: inherit;
}

.lobby-page .left-panel {
    border: 1px solid black;
    width: 10%;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

.left-panel #player-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.left-panel #player-list div {
    border-bottom: 1px solid black;
    padding: 5px 0px 5px 5px;
}

.lobby-page .game-panel {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.lobby-page .game-panel .top-side {
    margin: 10px;
    overflow: scroll;
    height: inherit;

    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;

}

.lobby-page .game-panel .bottom-side {

    max-height: 50px;
    height: 10%;

    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    display: flex;
}


.chat-box {
    overflow: scroll;
}

.chat-box .message {
    border-bottom: 1px solid black;
    padding: 5px 10px 5px 15px;
}

.chat-box .message:last-child {
    border: none;
}

.chat-box .user {
    font-weight: bold;
    font-size: 12px;
}

.chat-box .content {
    font-size: 12px;
}
